.app-main-container {
  margin: 5rem 1rem 1rem 1rem;
  height: calc(100vh - 6rem);
  /* background-color: var(--front-color); */
  border-radius: 15px;
  padding: 0rem 1rem;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  overflow: auto;
}

@media (min-width: 1000px) {
  .app-main-container {
    margin: 5rem 1rem 1rem calc(300px + 2rem);
  }

  .expandsidebar {
    margin-left: 1rem;
  }
}

@media (min-width: 700px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(111, 66, 193, 0.8);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--front-color);
    border: 2px solid var(--purple-color);
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  .app-main-container {
    margin: 5rem 0.5rem 1rem 0.5rem;
    padding: 0rem 0rem;
  }
}
