* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-color);
  background-color: var(--background-color);
  font-weight: 400;
}

:root {
  --background-color: #eff3f8;
  --front-color: #ffffff;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --dark-color: #343a40;
  --light-color: #f8f9fa;
  --gray-color: #adb5bd;
  --orange-color: #fd7e14;
  --purple-color: #6f42c1;
  --pink-color: #e83e8c;
}

a {
  text-decoration: none;
}
